:root {
:  background-color: #6fe0e4;
}





body {
    background-color: var(blue);
}

img {
    width: 30%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}