:root {
    --azul: #51d6d0;
--ciano: #acffff; 
}


body {
    background-color: var(--azul);
}

img {
    width: 30%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#Quem-somos{
    display: flex;
    background-color: var(--azul);
    border-radius: 34px;
    border-style: solid;
    border-width: 30px;
    border: dashed 3px rgb(172, 255, 255);
    margin: 20px;
    padding: 10px;
}

.img-intro{
    width: 60%;
}

.fotos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    
}
footer{
    background-color: antiquewhite
    color #be3636

}
a{color:black;
text-decoration: none
;}